    <% @order = Order.where(user: current_user)  %>
    <% @last_order = @order.last %>
    <% items_count = OrderItem.where(order: @last_order).count %>

<div class="footer-fill"></div>

<div class="bottom-container">
  <div class="bottom-icones">
    <%= link_to edit_user_registration_path, resource: current_user, resource_name: :user do %>
      <div class="icon">
        <i class="fas fa-user-circle" ></i>
      </div>
    <% end %>

      <%= link_to order_items_path do %>
      <div class="cart">
        <i class="fas fa-shopping-basket"></i>
        <p><%= items_count %> </p>
      </div>

      <% end %>
      <div class="icon popup" onclick="myFunction()">
        <i class="fas fa-house-user"></i><span class="popuptext" id="myPopup">

        Your current session will be destroy and you will be logged out of the shop <br><br>
        Do you wanna check-out of this shop? <br><br>

          <%= link_to "Yes, I want to leave the shop", root_path%><br>
          <div onclick="closepopup()">No, I want to stay in this shop</div>

        </span>

      </div>
    </div>
</div>

