<div class="footer-fill"></div>
<div class="bottom-container">
  <div class="bottom-icones">
    <%= link_to root_path, resource: current_user, resource_name: :user do%>
      <div class="icon">
        <i class="fas fa-user-circle" ></i>
      </div>
    <% end %>
      <div class="cart">
        <i class="fas fa-shopping-basket"></i>
      </div>
      <div class="icon">
        <i class="fas fa-house-user"></i>
      </div>
    </div>
</div>


