<div class="bottom-container">
  <div class="bottom-icones">
    <p><i class="fas fa-user-circle" ></i></p>
    <p><i class="fas fa-shopping-cart"></i></p>
    <p><i class="fas fa-house-user"></i></p>
  </div>
</div>
