<div class="nav-container">
  <div class="nav-content">
    <%= link_to :back, class: "back-arrow" do%>
      <i class="fas fa-arrow-left stick-left"></i>
    <% end %>
    <%= image_tag "logo2.PNG", alt: "ScanAndGo", width: 150, class: "logo" %>
  </div>
</div>
