<div class="nav-container">
  <div class="nav-content">
    <%= link_to :back, class: "back-arrow" do%>
      <i class="fas fa-arrow-left stick-left"></i>
    <% end %>
    <%= image_tag "s2.png", alt: "ScanAndGo", width: 150 %>
  </div>
</div>
