<div class="nav-container">
  <div class="nav-content">
    <i class="fas fa-arrow-left stick-left"></i><h1 class="title">Scan</h1><h1 class="ampersand">&</h1><h1 class="title"> Go</h1>
  </div>
</div>
