<% @order = Order.where(user: current_user) %>
<% @last_order = @order.last %>
<% @all_order_items = OrderItem.where(order: @last_order).order('created_at DESC') %>

<div class="scroll-items">
  <% @all_order_items.each do |item| %>
    <div class="items-container">
      <div class="title-price">
        <p><strong><%= item.product.title %></strong></p>
        <p> EUR <%= item.product.price %></p>
      </div>
        <div class="items">
          <i class="far fa-trash-alt"></i>
          <%= cl_image_tag(item.product.image, width: 80, height: 80, crop: :fill) %>
        </div>
      </div>
    
  <% end %>
</div>
 
