<% @order = Order.where(user: current_user) %>
<% @last_order = @order.last %>
<% @all_order_items = OrderItem.where(order: @last_order).order('created_at DESC') %>


<% if @last_order.present? && !@last_order.completed?  %>
<div class="scroll-items">
  <% @all_order_items.each do |item| %>
    <div class="items-container">
      <div class="title-price">
        <p><strong><%= item.product.title %></strong></p>
        <p> € <%= item.product.price %></p>
      </div>
        <div class="items">
          <%= link_to order_item_path(item), method: :delete do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
          <%= cl_image_tag(item.product.image, width: 80, height: 80, crop: :fill) %>
        </div>
      </div>
  <% end %>
</div>
<% end %>

