<div class="oder-confirmation">
  <div class="final-pic">
    <i class="uil uil-check-circle"></i>
  </div>
  <h1 class="order-completed">Order completed</h1>
  <h3 class="order-number">Order number is #345 654 987</h3>
    <div class="order-details">
      <p class="order-items-title">Ordered Items</p>
      <div class="row"><p>Order</p><p>€<%= @total_price %></p></div>
      <div class="row"><p>VAT</p><p>€<%= vat = @total_price * 0.2 %></p></div>
      <div class="row"><p>Summary</p><p>€<%= @total_price + vat %></p></div>
    </div>
    <div class="go-to-qr-btn">
      <a href="../qrcode" class="main-button btn-block">Checkout and get QR code</a>
    </div>
</div>
  <%= render 'shared/footer' %>





