<div class="landing-background box-container">
  <div class="landing-box">
    
    <div class="app-info">
      <div class="inner-card">
        <div class="inner-text">
          <h1>The best shopping experience</h1>
          <p>Choose your shop, scan your items, pay and GO!</p>
        </div>
        <h1>This is a mobile App, get it fro</h1>
        <div class="get-app">
          <p>download</p>
          <p>download</p>
        </div>
      </div>
    </div>
    <div class="landing-photo">
      <%= image_tag "phoneimage.png" %>
    </div>
  </div>

    

</div>



