<section class="landing-home" id="landing-home">

  <div class="landing-content">
    <h3> Best mobile app</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, rerum. Blanditiis ipsa eius facilis dolore ut! Eum facere corrupti necessitatibus alias aliquam dolores eius nam, debitis ducimus sit? Voluptates, illum?</p>
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row landing-container d-flex justify-content-right">
                <div class="template-demo mt-2"> <button class="btn btn-outline-dark btn-icon-text"> <i class="fab fa-apple btn-icon-prepend mdi-36px"></i> <span class="d-inline-block text-left"> <small class="font-weight-light d-block">Available on the</small> App Store </span> </button> <button class="btn btn-outline-dark btn-icon-text"> 
                <i class="fab fa-google-play btn-icon-prepend mdi-36px"></i>
                <span class="d-inline-block text-left"> <small class="font-weight-light d-block">Get it on the</small> Google Play </span> </button> </div>
            </div>
        </div>
    </div>
  </div>

  <div class="landing-image">
    <%= image_tag "logotrasp.png" %>
  </div>

</section>  
  
  