<div class="landing-background box-container">
  <div class="landing-box">
    
    <div class="app-info">
      <div class="inner-card">
      <h1>The best shopping experience</h1>
        <div class="inner-text">
          <%= image_tag "logotrasp.png" %>
          <h2>Choose your shop, scan your items, pay and GO!</h2>
        </div>
        
        <div class="get-app">
            <p>This is a mobile App, get it from</p>
            <div class="page-content page-container" id="page-content">
              <div class="padding">
                <div class="row buttons-container d-flex justify-content-right">
                  <div class="template-demo mt-2">
                    <button class="btn btn-outline-dark btn-icon-text"> 
                      <i class="fab fa-apple btn-icon-prepend mdi-36px"></i>
                      <span class="d-inline-block text-left"> <small class="font-weight-light d-block">Available on the</small> App Store </span>
                    </button> 
                    <button class="btn btn-outline-dark btn-icon-text">
                      <i class="fab fa-google-play btn-icon-prepend mdi-36px"></i>
                      <span class="d-inline-block text-left"> <small class="font-weight-light d-block">Get it on the</small> Google Play </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="landing-photo">
      <%= image_tag "phoneimage.png" %>
    </div>
  </div>

    

</div>



