
<section class="landing-home" id="landing-home">
  <div class="landingheader">
    <%= image_tag "logointer.png" %>
  </div>

  <div class="landing-content">
    <div class="landing-title-container">
      <div class="landing-title">
        <h3>Enjoy your shopping experience</h3>
        <h4>This is a mobile App. Download Scan&Go to avoid queues in any shop!</h4>
      </div>
      <div class="page-content page-container" id="page-content">
        <div class="landing-padding">
          <div class="landing-container d-flex justify-content-right">
            <div class="template-demo mt-2">
              <button class="btn btn-outline-dark btn-icon-text"> 
                <i class="fab fa-apple btn-icon-prepend mdi-36px"></i>
                <span class="d-inline-block text-left"><small class="font-weight-light d-block">Available on the</small> App Store </span>
              </button> 
              <button class="btn btn-outline-dark btn-icon-text"> 
                <i class="fab fa-google-play btn-icon-prepend mdi-36px"></i>
                <span class="d-inline-block text-left"> <small class="font-weight-light d-block">Available on the</small> Google Play </span>
              </button> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  
  <div class="landing-image">
    <%= image_tag "phone-landing.jpg" %>

  </div>

</section>  
  
  