<!-- # if user is logged in do stores
# if user is not logged in login
#current_user
#render -->
  <div class="new-container">
    <div class="form-container">
      <i class="fas fa-user-circle mt-5" ></i>
      <h2 class="form-title  mb-5">Member Login</h2>
        <h1 class="welcome">Welcome to <span class="title-color">Scan</span>&<span class="title-color">Go!</span>
        </h1>
        <%= render 'shared/login', resource: User.new, resource_name: :user %>
    </div>
  </div>
