<!-- # if user is logged in do stores
# if user is not logged in login
#current_user
#render -->
<div class="background-image">
  <div class="form-container">
    <i class="fas fa-user-circle" ></i>
    <h2 class="form-title">MEMBER LOGIN</h2>
    <h1 class="welcome">Welcome to</h1>
    <%= image_tag "logo2.PNG", alt: "ScanAndGo", width: 200, class: "logo" %>
    <%= render 'shared/login', resource: User.new, resource_name: :user %>
  </div>
  <div class="options">
    <%= link_to('Sign Up', new_user_registration_path, class: "option-left") %>
    <%= link_to('Reset Password', new_user_registration_path, class: "option-right") %>
  </div>
</div>

