<div class="qr-main-container">
    <div class="qr-text">
        <h2> Purchase completed! You can just take your items & leave the store! </h2>
        <br>
        <p> In case an employee wants to verify your purchase, please, use
          Your <span class="qr-code-span-text">QR Code</span> below. </p>
    </div>
    <div class="image-qrcode"></div>
    <div class="go-to-qr-btn">
      <%= link_to 'I am done, thanks!', root_path, class:"main-button btn-block" %>
    </div>
</div>
<%= render 'shared/footer' %>
