<%= render 'shared/navbar' %>
<div class="qr-main-container">
    <div class="qr-text">
        <h2>Your <span class="qr-code-span-text">QR Code</span></h2>
        <p>Show the code when leaving the store</p>
    </div>
    <div class="image-qrcode"></div>
    <div class="container qr-button-container">
        <input type="submit" class="main-button">
    </div>
</div>
<%= render 'shared/footer' %>
