
 <!-- # if user is logged in do stores
# if user is not logged in login
#current_user
#render -->
<div class="form-container container">
  <i class="fas fa-user-circle " ></i>
  <h2 class="form-title">MEMBER LOGIN</h2>
  <%= render 'shared/login', resource: User.new, resource_name: :user %>
  <%= render 'shared/footer' %>
</div>



