.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.test{
  background-image: url("checkin.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60px;
  width: 60px;
  background-color: transparent;
  border: none;
}
