.store-card-container{

}

.store-card-main{
  border-style: solid;
  border-radius: 5px;
  border-color: #5C0C9A;
  margin: 10px;
}

.store-title-card{
  display:inline;
  font-size: 25px;
  margin: 0 10px;

}

.store-address-card, .store-distance-card{
  margin: 0px 0px 10px 10px;
}

.title-check-in-now{
  text-align: center;

}


