// index of stores

.store-show-image {
  i {
    font-size: 40px;
    color: white;
  }
}

.store-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  h2 {
    font-size: 25px;
    font-weight: 700;
  }
}

.store-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background: radial-gradient(white, #C4C4C4);

  i {
    font-size: 25px;
    color: #757575;
  }
}

.store-details {
  font-size: 14px;
  color: #7B7B7B;
}

.stores-search-title {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}

.store-card {
  display: flex;
  border-radius: 8px;
  margin: 8px auto;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 12px 0px;

  img {
    width: 100px;
    border-radius: 8px;
  }
}

.store-card-head {
  display: flex;
  align-items: center;

  .store-title {
    font-weight: 600;
    margin: 0;
    color: #8c8c8c;
  }
}

.store-card-content {
  margin-left: 20px;
}

.store-distance{
  margin: 0px 0px 10px 5px;
  font-size: 16px;
}

.store-address, .store-distance {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 4px;
  color: #7B7B7B;
} 

.store-location {
  display: flex;
}

.info-icon i {
  font-size: 16px;
  padding-left: 4px;
  color: black;
}


.store-grey-background{
  background-color: lightgrey;
  height: 80vh;
  padding: 30px;
  }
.store-show-card{
  box-shadow: 0 4px 8px 4px rgba(0,0,0,0.4);
  transition: 0.3s;
  margin: 0px;
  height: 65vh;
  background-color: white;
}
.store-show-image{
  background-image: url("https://res.cloudinary.com/dzlzazila/image/upload/v1629820833/zara_jnin2e.jpg");
  background-size: cover;
  height: 350px;
  margin: 0px;
}
.store-show-info{
  background: white;
  padding: 5px 0px 8px 0px;
}

.store-show-title{
  margin-top: 10px;
  font-size: 35px;

}
.store-show-content{
  color: gray;
  font-size: 14px;
  margin: 10px 30px;
  line-height: 25px;
}

.store-show-title, .store-show-content{
  margin: 10px 30px;
}

.store-show-btn{
  text-align: center;
  margin-top: 15px;
  font-size: 30px;
}

.checkin {
  display: flex;
  align-items: center;
}







