.oder-confirmation{
  text-align: center;
}

.final-pic{}

.order-completed{
  color: rgba(218, 82, 254, 0.7);
}

.order-number{
  font-size: 15px;
  color: lightgrey;

}
#plus-sign{
  font-size: 25px;
  margin-right: 20px;
}

.order-details{
  margin-top: 20px;
}

.row{
  justify-content: space-between;
  margin: 10px 30px;
}

.go-to-qr-btn{
  margin: 0px 20px;
  text-align: center
}


