// background image for the edit
.edit-container{
  opacity: 85%;
  background-size: cover;
  background-size: 100%;
  margin:0px;
  max-width: 100%;
}

// background image for the new
.new-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgba(218, 82, 254, 0.7),
    rgba(112, 58, 242, 0.7)
  ), url("https://res.cloudinary.com/dzlzazila/image/upload/v1629820832/image_2_criwka.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 30px;
  margin: 0;
}

// form info

.form-title{
  font-size: 16px;
  color: white;
  font-weight: 900;
  margin-top: 10px;
}

.form-container{
  // padding: 1em 3em 2em 3em;
  margin: 0 16px;
  border-radius: 10px;
  // box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.2);
  // #what is this image?
  background-image: url("img_tree.gif");
  text-align: center;
}

.form-group {
  display:flex;
  justify-content: space-around;
}

.input-field {
  text-align:center;
}

.form-control:focus {
  border-color: rgba(112, 58, 242, 0.7);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    // .form-container{
    //   padding-bottom: 70px;
    // }
    // .new-container{
    //   width: 414px;
    //   height: 736px;
    // }
}


/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
/* @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .form-container{
      padding-bottom: 124px;
    }
    // .new-container{
    //   width: 375px;
    //   height: 812px;
    // }
}
 */
// @media only screen
//   and (min-device-width: 375px)
//   and (max-device-width: 667px)
//   and (-webkit-min-device-pixel-ratio: 3) {
//     .form-container{
//       padding-bottom: 124px;
//     }
//     .new-container{
//       width: 375px;
//       height: 736px;
//     }
// }



.go-back{
  text-align: right;
  padding: 10px;

  a{
  color: white;
  }
}

.sign-up-info {
  width: 299px;
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  text-align: center;
}

// sign-up IDs

#user_card_number, #user_first_name, #user_last_name, #user_email, #user_password, #user_password_confirmation, #user_payment_details, #user_current_password{
  // width: 299px;
  border-radius: 10px;
}
