.home-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: $main-color;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    font-family: $main-font;
    font-weight: 900;
    font-size: 15px;
    color: white;
  }

  h1 {
    font-family: $main-font;
    font-size: 25px;
    letter-spacing: 2px;
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
  }

  span {
    font-weight: 900;
    display: block;
  }

  img {
    width: 30%;
    padding: 0px 0px 20px 0px;
    margin: auto;
  }
}

.fas.fa-user-circle {
  font-size: 65px;
  color: white;
  margin-bottom: 15px;
}

.inputs-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 15px;
  width: 100%;
  border-radius: 20px;
}

.striked-text {
  display: flex;
  margin-top: 20px;

  a {
    padding: 0px 15px;
    color: black;
    font-size: 15px;
  }

  .line {
    border-top: 1px solid white;
    flex: 1 1 auto;
    margin: 10px 0px;
  }
}

.sign-up-text {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: 10px;
}

.logo {
  margin-bottom: 70px;
}

/* .color-card-style {
  background-color: $lighter-violet;
  height: 200px;
  border-radius: 30px 30px 0 0;
  margin-top: -200px;
} */

.background-image-edit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  margin: 0;
}

.background-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  background-repeat: no-repeat;
  height: 100vh;
  // padding-bottom: 30px;
  margin: 0;
}

.options {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 8px 20px;
    padding-top: 20px;
}

a.option-right {
    text-decoration: none;
    color: white;
}

.option-out {
    text-decoration: none;
    color: $main-color;
    background-color: transparent;
    border: none;
}

.secondary-title {
  color: white;
  padding-top: 0.8em;
  padding-bottom: 0.5em;
  font-size: 24px;
  font-weight: 500;
}

.title-text-color {
  color:black;
}