/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .fas {
    font-size: 45px;
    color: white;
    padding-top: 15px;
  }

  .fa-arrow-left{
    font-size: 25px;
    position: relative;
    right: 65px;
    bottom: 2px;
  }

  .fa-exclamation-triangle{
    color: black !important;
    font-size: 50px;
    margin-bottom: 10px;
  }

  .fa-cash-register{
    color: rgba(218, 82, 254, 0.7);
    font-size: 70px;
    margin: 10px 0px;
    }
  }


/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .fa-arrow-left{
    font-size: 25px;
    position: relative;
    right: 85px;
    bottom: 2px;
  }

}

/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .fa-arrow-left{
    right: 55px;
  }
}

.fa-info-circle{
 font-size: 25px;
 color: $main-color;
}

.icon i {
  font-size: 55px;
  color: white;
  padding-top: 15px;
}

.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-count);
  font-size: 20px;
  line-height: 28px;
  color: white;
  background-color: $main-color;
  border-radius: 50%;
  text-align: center;
  min-width:30px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin: 8px 0px 0px 0px;
}

.fa-map-marker-alt {
  padding: 0px;
  margin: 0px;
  color: $main-color;
}


