#landing-home {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  background-size: cover;
  background-position: center;
}

.landing-image img {
  width: 40vw;
}

.mdi-36px {
  font-size: 39px;
  margin-right: 10px
}

.landing-container {
  margin: 0px;
}


