.landing-image {
  width: 50%;
  height: 100vh;
  min-height: 35em;
  max-height: 60em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.landing-home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: $secondary-color;

  
}

.landingheader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.landing-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  height: 100vh;
  min-height: 35em;
  padding: 9vw;
  justify-content: center;
 
} 

.landing-image img {
  max-width: 100%;
  justify-content: right;
  vertical-align: middle;
}

.mdi-36px {
  font-size: 39px;
  margin-right: 10px
}


.landing-content p {
  margin-right: 1rem;
  margin-top: 3rem;
  font-family: "Montserrat", "sans-serif";
  line-height: 2rem;
  font-weight: 500;
}

.landing-title h4 {
  font-family: "Montserrat", "sans-serif";
  font-size: 1.1em ;
  padding-top: 2rem;
  font-weight: 600;
  line-height: 1v;
}

.landing-title h3 {
  font-size: 3.5em;
  font-family: "Montserrat", "sans-serif";
  font-weight: 900;
  color: white;
  letter-spacing: 0.6 vw;

}

.btn-outline-dark {
  background-color: #343A40;
  border: none;
  color: white;
  border-radius: 4px;
  margin-right: 20px;
  margin-top: 30px;

}

.font-weight-light {
  font-size: 12px;
  margin-top: 0;
  font-weight: 400 !important;
}

.landingheader {
  position: sticky;
  justify-content: space-around;
  top: 0;
  width: 100%;
  background: $secondary-color;
  box-shadow: 0 0.2em 0.4em rgba($color: #000000, $alpha: 0.15);
  padding: 1em;
  z-index: 99;

  img {
    width: 5vw;

  }
}

.landing-padding {
  padding: 0;

}


