/* Popup container - can be anything you want */
.popup .popuptext {
    visibility: hidden;
    width: 330px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 40px 20px;
    position: absolute;
    z-index: 1;
    bottom: 180%;
    left: 75%;
    margin-left: -310px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .popup .popuptext {
    bottom: 310%;
    left: 75%;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .popup .popuptext {
    bottom: 260%;
    left: 50%;
  }
}


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */




/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

// buttons container

.btn-container-popup{
  margin: 10px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  //from {opacity: 0;}
  //to {opacity: 1;}
}

@keyframes fadeIn {
  //from {opacity: 0;}
  //to {opacity:1 ;}
}
